h1 {
    text-indent: 1em;
    
    font-family: 'Helvetica';
    font-size: xx-large;
    height: auto;
    width:max-content;
    color: white;
    background-color: #02216a;    
}
h1.space::after{
  content: "\0020\0020\0020";
  white-space: pre;
}

h2 {
  font-family: 'Helvetica';
  font-size: large;
  height: auto;
  width: fit-content;
  color: white;
  background-color: #02216a;    
}

img{
  width:50%;
  height:50%;
  object-fit: fill;
  object-position: bottom;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}
ul{
  text-align: center;
  font-size: x-large;
  list-style-position: inside;
}
i{
  margin-left: 1px;
  margin-right: 1px;
}
